.btn{
    border: 2px solid transparent;
    padding: 10px 20px;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: fit-content;

}

.btn-green{
    background-color: #2ecc71;
    color: #fff;
}

.btn-green:hover{
    background-color: white;
    color: #2ecc71;
    border-color: #2ecc71;
}

.btn-red{
    background-color: #e74c3c;
    color: #fff;
}

.btn-red:hover{
    background-color: white;
    color: #e74c3c;
    border-color: #e74c3c;
}

.btn-blue{
    background-color: #3498db;
    color: #fff;
}

.btn-blue:hover{
    background-color: white;
    color: #3498db;
    border-color: #3498db;
}

td{
    padding: 1rem;
}

.actions{
    display: flex;
    gap: .5rem;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

table{
    text-align: center;
}

.form-column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form_item{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form_item input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
}

strong{
    font-size: 1.125rem;
}